#banner {
	background-image: url("../img/dance_1.jpg");
	background-size: cover;
}

h1 {
	color: #C3C6C5;
	font-size: 70px;
	font-weight: bold;
}

#banner p {
	color: #C3C6C5;
}

#banner a {
	background-color: #030D1B;
}

.deco img {
	width: 10%;
}

#fondo a {
	background-color: #030D1B;
	padding: 15px 80px;
}

#fondo p {
	font-size: 22px;
}

.instructor,.profesor {
	border: 1px solid black;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	max-width: 629.5px;
}


.instructor {
	background-image: url("../img/instructor_4.jpg");
}

.profesor {
	background-image: url("../img/profesor_9.jpg");
}

.caja-banner {
	position: relative;
}

.boton-medio {
	position: absolute;
	padding: 25px 120px;
	background-color: #030D1B;
	bottom: 0;
	right: 33%;
}

article#fondo p.frase {
	font-size: 35px;
	font-style: italic;
}

#fondo-azul {
	background-color: #030D1B;
}

.guia {
	padding: 10% 15%;
}

#fondo-azul h4 {
	font-size: 20px;
	padding-left: 15%;
}

.direccion {
	padding: 0% 50% 10% 15%;
}

#clases h3, #blog h3 {
	font-size: 20px;
}

#clases article, #blog {
	background-color: #DFE4F6;
}

#clases .dance {
	max-width: 93%;
}

#clases .clase {
	height: 380px;
	overflow: hidden;
	margin-top: 3%;
}

.ballet {
	background-image: url("../img/dance_12.jpg");
	height: 380px;
	position: relative;
}

.break {
	background-image: url("../img/breakdance.jpg");
	height: 380px;
	position: relative;
}

.jazz {
	background-image: url("../img/lirical-jazz.jpg");
	height: 380px;
	position: relative;
}

.arabe {
	background-image: url("../img/arabe.jpg");
	height: 380px;
	position: relative;
}

.little {
	background-image: url("../img/little.jpg");
	height: 380px;
	position: relative;
}

.yoga{
	background-image: url("../img/yoga.jpg");
	height: 380px;
	position: relative;
}

.caja-descrip {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 4%;
	top: 35%;
	width: 80%;
	left: 6%;
	position: absolute;
}

#clases h5 {
	font-size: 20px;
}

.articulo {
	padding: 3% 5% 7% 5%;
	background-color: #C9C9CA;
}

.profes {
	height: 236px;
}

p em {
	color: #B6B6B6;
}

.boton-ver a {
	background-color: #030D1B;
	padding: 10px 70px;
}

.boton-ver {
	padding-bottom: 1%;
}

